name: Build and Release C++ Application

on:
  pull_request:
    types:
      - assigned
      - unlabeled
      - opened
      - edited
      - closed
      - reopened
      - synchronize
      - converted_to_draft
      - ready_for_review
    branches:
      - main

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Build application
        run: |
          sudo apt install xorg-dev mesa-utils libglu1-mesa-dev freeglut3-dev mesa-common-dev
          mkdir -p build
          cd build
          cmake ..
          make
          mkdir release
          cp --recursive run.sh WaveSim resources release
          zip -r release.zip "release"

  merge_job:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Build application
        run: |
          sudo apt install xorg-dev mesa-utils libglu1-mesa-dev freeglut3-dev mesa-common-dev
          mkdir -p build
          cd build
          cmake ..
          make
          mkdir release
          cp --recursive run.sh WaveSim resources release
          zip -r release.zip "release"

      - name: Create Release
        id: create-new-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v0.1.2  # Specify your desired tag here
          release_name: v0.1.2  # Specify your desired release name here

      - name: Upload Executable
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-new-release.outputs.upload_url }}
          asset_path: ./build/release.zip
          asset_name: v0.1.2.zip  # Specify your desired asset name here
          asset_content_type: application/zip
          token: ${{ secrets.GITHUB_TOKEN }}
